@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#header1-2 B {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
}
#msg-box3-9 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-9 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-1f .mbr-section-title B {
  color: #0275d8;
}
